//colours
$color-white: #fff;
$color-dark-blue: #070724;
$color-dark-grey: #38384f;
$color-light-grey: #838391;
$color-light-blue: #419ebb;
$color-yellow: #eda249;
$color-purple: #6d2ed5;
$color-dark-orange: #d83a34;
$color-red: #d14c32;
$color-orange: #cd5120;
$color-teal: #1ec1a2;
$color-blue: #2d68f0;

//font
$font-family-antonio: 'Antonio', sans-serif;
$font-family-spartan: 'Spartan', sans-serif;

//media
$mq-tablet: 768px;
$mq-desktop: 1024px;
