@mixin theme($planetColor, $navColor) {
  &::before {
    background-color: $planetColor;
  }

  @media all and (min-width: $mq-tablet) {
    &.active::after {
      background-color: $navColor;
    }
  }
}

.header {
  &-nav {
    top: 101%;
    height: calc(100vh - 75px);
    background-color: $color-dark-blue;

    &-item {
      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        top: 3px;
        left: 0;
        border-radius: 50%;
        width: 20px;
        height: 20px;

        @media all and (min-width: $mq-tablet) {
          display: none;
        }
      }

      &::after {
        top: 9px;
        right: 0;
        width: 4px;
        height: 8px;
        background: url('../../assets/icons/chevron.svg') 50% / cover;

        @media all and (min-width: $mq-tablet) {
          top: initial;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: none;
        }

        @media all and (min-width: $mq-desktop) {
          top: 0;
          bottom: initial;
        }
      }

      &.mercury {
        @include theme(#def4fc, $color-light-blue);
      }

      &.venus {
        @include theme(#f7cc7f, $color-yellow);
      }

      &.earth {
        @include theme(#545bfe, $color-purple);
      }

      &.mars {
        @include theme(#ff6a45, $color-red);
      }

      &.jupiter {
        @include theme(#ecad7a, $color-dark-orange);
      }

      &.saturn {
        @include theme(#fccb6b, $color-orange);
      }

      &.uranus {
        @include theme(#65f0d5, $color-teal);
      }

      &.neptune {
        @include theme(#497efa, $color-blue);
      }
    }
  }
}
